<form class="form-timelog" #f="ngForm" (ngSubmit)="logTime(f.value)">
    <h2 class="form-timelog-heading">Create Time Log</h2>
    <div *ngIf="invalidTimeLog" class="alert alert-danger">Invalid time log.</div>

    <label for="startTime" class="sr-only">Start</label>
    <input type="startTime" id="startTime" name="StartTime" ngModel class="form-control" placeholder="Start" required>

    <label for="endTime" class="sr-only">End</label>
    <input type="endTime" id="endTime" name="EndTime" ngModel class="form-control" placeholder="End">
    
    <label for="desc" class="sr-only">Description</label>
    <input type="desc" id="desc" name="Description" ngModel class="form-control" placeholder="Description">

    <button class="btn btn-primary" type="submit">Log Time</button>
</form>